@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
	text-align: center;
}

h2{
	font-size: 50px;
	font-weight: normal;
	color: blue;
	font-style: serif;
}

#tag{	
	font-weight: bold;
	font-size: 30px;
	color: black;
	line-height: 2em;
}

#slogan1{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: orange;
	line-height: 2em;
}

#slogan{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: blue;
	line-height: 2em;
}

#how{
	font-size: 40px;
}

#event{
	background-color: orange;
	font-size: 25px;
	font-family: Raleway;
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	border: 5px orange solid;
}

#eventp{
	background-color: orange;
	font-size: 15px;
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	border: 5px orange solid;
  	margin: auto;
}

#build{
	background-color: yellow;
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	font-size: 25px;
	font-family: Raleway;
	border: 5px yellow solid;
}

#buildp{
	background-color: yellow;
	font-size: 15px;
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	border: 5px yellow solid;
  	margin: auto;
}

#buy{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	font-size: 25px;
	font-family: Raleway;
	border: 5px blue solid;
	background-color: blue;
}

#buyp{
	background-color: blue;
	font-size: 15px;
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	border: 5px blue solid;
  	margin: auto;
}

#deliver{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	font-size: 25px;
	font-family: Raleway;
	border: 5px green solid;
	background-color: green;
}

#deliverp{
	background-color: green;
	font-size: 15px;
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	border: 5px green solid;
  	margin: auto;
}

#spa{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	font-size: 25px;
	font-family: Raleway;
	border: 2px black solid;
	background-color: orange;
	border-radius: 180px;
	background-image: url(../images/stone_flowers.jpg);
	background-size: 500px;
	background-repeat: no-repeat;
}

#date{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	font-size: 25px;
	font-family: Raleway;
	color: white;
	border: 2px black solid;
	background-color: yellow;
	border-radius: 180px;
	background-image: url(../images/web1_Date-night.jpeg);
	background-size: 500px;
	background-repeat: no-repeat;
}

#sport{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	font-size: 25px;
	font-family: Raleway;
	font-weight: bold;
	border: 2px black solid;
	background-color: blue;
	border-radius: 180px;
	background-image: url(../images/8TEb8q5qc.jpg);
	background-size: 375px;
	background-repeat: no-repeat;
}

#night{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	font-size: 25px;
	font-family: Raleway;
	color: white;
	font-weight: bold;
	border: 2px black solid;
	background-color: green;
	border-radius: 180px;
	background-image: url(../images/girls-night-out-nj.jpg);
	background-size: 275px;
	background-repeat: no-repeat;
}

footer{
	text-align: center;
	padding: .8em 0;
}

