@import url('https://fonts.googleapis.com/css?family=Raleway');

*{margin: 0; padding: 0; box-sizing: border-box;}

body {background-color: #D1FFF4; color: black; font-style: serif; text-align: center; font-size: 62.5%;
}

img{
	display: block; 
	width: 100%;  
}

p{
	font-size: 1em;
	font-family: sans-serif;
}



h2{
	font-size: 5em;
}

 h3 {
 	font-family: sans-serif;
	font-size: 2em;
    }


ul {
  list-style-type: none;
}

li {
  font-size: 3em;
}

li a {
  display: block;
  color: #D1FFF4;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#header{
	padding: 20px;
}

#logo-container{
	width: 100%;
	max-width: 795px;
	margin: 0 auto;
	padding: 0 10px;
}

.slogan{
	font-style: italic;
	font-weight: bold;
	font-size: 2.5em;
	padding-top: 20px;
}

#how-we-work{
	background-color: black;
	padding: 20px;
}

#how-we-work ul{
	width: 100%;
	display: flex;
	justify-content: center;

}

#how{
	font-size: 8em;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #D1FFF4;
	margin:-0px 0px -0px 0px;
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;

}

.boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.hww{
	width: 24%;
	padding: 20px;
 }

.hww img {
	width: 70%;
	margin: 0 auto;
}

.hww h3{
	padding-top: 20px;
	padding-bottom: 20px;
}

.hww p{
	font-size: 1.75em;
	line-height: 1.5;
}

#event{
	background-color: orange;
	}


#build{
	background-color: yellow;
	}

#buy{
	background-color: blue;
  	color: white;
	}


#deliver{
	background-color: green;
	color: white;
	}

#buy-happiness{
	padding: 100px 20px;
}

#popular-packages{
	padding: 0 20px;
}

#popular-packages h2{
	padding-bottom: 20px;
}

.popular_container{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-wrap: wrap;

}
.popular{
	
	width: 20vw;
	height: 20vw;
  	font-size: 2em;
	border: .1em black solid;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	line-height: 20vw;
  	display: flex;
  	justify-content: center;
  	flex-shrink: 0;
  	margin: 1%;



}

#spa{
	background-image: url(../images/stone_flowers.jpg);
	
}

#date{
	color: white;
	background-image: url(../images/web1_Date-night.jpeg);
	
}

#sport{
	background-image: url(../images/sports.jpg);
	vertical-align: center;
	font-weight: bold;
	
}

#night{
	color: white;
	background-image: url(../images/girls-night-out-nj.jpg);
	
}

footer{
	padding: .8em 0;
	font-size: 2em
	padding: 100px 20px 20px;
}

@media only screen and (max-width: 750px) {
	.popular{
		font-size: 1.25em;
	}

	#how-we-work p {
		display: none;
	}