@import url('https://fonts.googleapis.com/css?family=Raleway')

*{margin: 0; padding: 0; box-sizing: border-box;}

body {background-color: #D1FFF4; color: black; font-style: serif; text-align: center; font-size: 50px
}

img{
	display: block; 
	width: 60%;  
	margin-left: auto;
  	margin-right: auto;
  	padding-top: 1em;
}

div{
	text-align: center;
}

p{
	font-size: .75em;
	font-family: sans-serif;
}


h2{
	font-size: 1em;
}

h3{
	font-family: sans-serif;
	text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: center;
  display: inline-block;
  font-size: .5em;
}

li a {
  display: block;
  color: #D1FFF4;
  text-align: center;
  padding: .15em .15em;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


#tag{	
	font-weight: bold;
	font-size: .75em;
	color: black;
}

#slogan1{
	color: black;
	font-size: .5em;
}

.slogan{
	font-style: italic;
	font-weight: bold;
	font-size: .5em;
}

.hww{
	margin-left: auto;
  	margin-right: auto;
	display: inline-block;
	font-size: .5em;
	width: 25%;
  	height: 35%;
  	padding-top: .5em;
  	text-align: center;
 	vertical-align: bottom;
 }

.boxes{
	background-color: black;
	padding-bottom: 1em;
}

#how{
	font-size: 2em;
	font-weight: bold;
	padding-top: .15em;
	background-color: black;
	color: #D1FFF4;
	margin:-0px 0px -0px 0px;
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}


#event{
	background-color: orange;
	width: 20%;
	padding-right: .5em;
}


#build{
	background-color: yellow;
	width: 20%;
	padding-right: .5em;
}

#buy{
	background-color: blue;
  	color: white;
  	width: 20%;
	padding-right: .5em;
 }

#deliver{
	background-color: green;
	color: white;
	width: 20%;
	padding-right: .5em;
}

.popular{
	display: inline-block;
	margin: auto;
	float: none;
	width: 20%;
  	font-size: .5em;
	border: .1em black solid;
	border-radius: 180%;
	background-size: 150%;
	background-repeat: no-repeat;
	vertical-align: bottom;
	position: relative;
  	text-align: center;
  	line-height: 10em;
  	padding: .5em;
}

#spa{
	background-image: url(../images/stone_flowers.jpg);
	background-size: 20em;
}

#date{
	color: white;
	background-image: url(../images/web1_Date-night.jpeg);
	background-size: 20em;
}

#sport{
	background-image: url(../images/sports.jpg);
	vertical-align: center;
	font-weight: bold;
	background-size: 15em;
}

#night{
	color: white;
	background-image: url(../images/girls-night-out-nj.jpg);
	background-size: 12em;
}

footer{
	text-align: center;
	padding: .8em 0;
	font-size: .5em
}

@media only screen and (max-width: 1300px) and (min-width: 600px) {
	.popular, .hww, .boxes {
		float: none;
		width: auto;
		background-size: 20%;
	} 

	.popular{
		width: 10vw;
  		height: 10vw;
  		border-radius: 50%;
  		font-size: 20%
  	}

  	body {
  		font-size: 35px;
  	}
}

@media only screen and (max-width: 600px) {
	.popular, .hww, .boxes {
		float: none;
		width: auto;
		background-size: 20%;
	} 

	.hww, .boxes{
		font-size: 75%;
	}

	.popular{
		width: 10vw;
  		height: 10vw;
  		border-radius: 50%;
  		font-size: 20%
  	}

	body{
		font-size: 25px;
	}

	  p {
    	display: none;
  	}
}


	