@import url('https://fonts.googleapis.com/css?family=Raleway')

*{margin: 0; padding: 0; box-sizing: border-box;}

body {background-color: #D1FFF4; color: black; font-style: serif; text-align: center;
}

img{
	display: block; 
	width: 75%;  
	margin-left: auto;
  	margin-right: auto;
}

div{
	text-align: center;
}

p{
	font-size: 15px;
	font-family: sans-serif;
}


h2{
	font-size: 40px;
}

h3{
	font-family: sans-serif;
	text-align: center;
}

nav{
  font-size: 1.8em;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

nav a{
  text-decoration:none;
  color: white;
  display: inline-block;
	background-color: black;
	font-size: 15px;
	font-style: bold;
	width: 80px;
  	height: 20px;
  	text-align: center;
  	
}

a:link {
  color: white; 
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: red;
  text-decoration: underline;
 }

a:active {
  color: yellow;
  text-decoration: underline;
}

#tag{	
	font-weight: bold;
	font-size: 30px;
	color: black;
}

#slogan1{
	color: #4A5BFF;
	font-size: 25px;
}

.slogan{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: black;
}

.hww{
	margin-left: auto;
  	margin-right: auto;
	display: inline-block;
	font-size: 25px;
	width: 200px;
  	height: 350px;
  	text-align: center;
 	vertical-align: bottom;
 }

.boxes{
	background-color: black;
	height: 450px;
}

#how{
	font-size: 100px;
	font-weight: bold;
	background-color: black;
	color: #D1FFF4;
	margin:0px 0px -0px 0px;
	text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}


#event{
	background-color: orange;
}


#build{
	background-color: yellow;
}

#buy{
	background-color: blue;
  	color: white;
 }

#deliver{
	background-color: green;
	color: white;
}

.popular{
	display: inline-block;
	margin: auto;
	width: 275px;
  	height: 275px;
  	font-size: 35px;
	border: 2px black solid;
	border-radius: 180px;
	background-size: 500px;
	background-repeat: no-repeat;
	vertical-align: bottom;
	position: relative;
  	text-align: center;
  	line-height: 250px;
  	padding: 15px;
}

#spa{
	background-image: url(../images/stone_flowers.jpg);
}

#date{
	color: white;
	background-image: url(../images/web1_Date-night.jpeg);
}

#sport{
	background-image: url(../images/8TEb8q5qc.jpg);
	vertical-align: center;
}

#night{
	color: white;
	background-image: url(../images/girls-night-out-nj.jpg);
	background-size: 300px;
}

footer{
	text-align: center;
	padding: .8em 0;
}

