@import url('https://fonts.googleapis.com/css?family=Raleway');

body {background-color: #A5DEE8;
}

img{
	text-align:  center;
}

div{
	text-align: center;
}

h2{
	font-size: 50px;
	font-weight: normal;
	color: black;
	font-style: serif;
	
}

h1{
	font-size: 50px;
	font-weight: normal;
	color: black;
	font-style: serif;
	
}



nav{
  font-size: 1.8em;
  float: center;
  padding: 0px;
  margin: 0px;
}

nav a{
  text-decoration:none;
  color: white;
  margin: 0em;
  display: inline-block;
}

a{
	background-color: black;
	display: block;
	font-size: 15px;
	font-style: bold;
	width: 80px;
  	height: 20px;
  	padding: 0px;
  	border: 5px black solid;
  	text-align: center;
  	margin: 0px;
}

a:link {
  color: white; 
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: red;
  text-decoration: underline;
  text-align: center;
}

a:active {
  color: yellow;
  text-decoration: underline;
  text-align: center;
}

span{
	font-size: 15px;
	font-family: serif;
}

h1{
	font-size: 40px;
	padding-top: 5%;
}

#tag{	
	font-weight: bold;
	font-size: 30px;
	color: black;
}

#slogan1{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: blue;
}

#slogan{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: black;
}

#how{
	font-size: 100px;
	font-weight: bold;
	color: black;
	margin: 0px;
	padding: 5%;
}


#event{
	background-color: orange;
	display: inline-block;
	font-size: 25px;
	font-family: Raleway;
	display: inline-block;
  	width: 200px;
  	height: 275px;
  	padding: 25px;
  	text-align: center;
 	margin: 0px;
 	vertical-align: bottom;
 }


#build{
	background-color: yellow;
	display: inline-block;
	font-size: 25px;
	font-family: Raleway;
	display: inline-block;
  	width: 200px;
  	height: 275px;
  	padding: 25px;
  	text-align: center;
  	margin: 0px;
}

#buy{
	background-color: blue;
	display: inline-block;
	font-size: 25px;
	font-family: Raleway;
	display: inline-block;
  	width: 200px;
  	height: 275px;
  	padding: 25px;
  	text-align: center;
  	color: white;
  	margin: 0px;
}

#deliver{
	background-color: green;
	display: inline-block;
	font-size: 25px;
	font-family: Raleway;
	display: inline-block;
  	width: 200px;
  	height: 275px;
  	padding: 25px;
  	text-align: center;
  	color: white;
  	margin: 0px;
  	vertical-align: bottom;
}

#spa{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 85px;
  	font-size: 25px;
	font-family: Raleway;
	border: 2px black solid;
	background-color: orange;
	border-radius: 180px;
	background-image: url(../images/stone_flowers.jpg);
	background-size: 500px;
	background-repeat: no-repeat;
}

#date{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 85px;
  	font-size: 25px;
	font-family: Raleway;
	color: white;
	border: 2px black solid;
	background-color: yellow;
	border-radius: 180px;
	background-image: url(../images/web1_Date-night.jpeg);
	background-size: 500px;
	background-repeat: no-repeat;
}

#sport{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 85px;
  	font-size: 25px;
	font-family: Raleway;
	font-weight: bold;
	border: 2px black solid;
	background-color: blue;
	border-radius: 180px;
	background-image: url(../images/8TEb8q5qc.jpg);
	background-size: 375px;
	background-repeat: no-repeat;
	font-style: bold;
}

#night{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 85px;
  	font-size: 25px;
	font-family: Raleway;
	color: white;
	font-weight: bold;
	border: 2px black solid;
	background-color: green;
	border-radius: 180px;
	background-image: url(../images/girls-night-out-nj.jpg);
	background-size: 275px;
	background-repeat: no-repeat;
}

footer{
	text-align: center;
	padding: .8em 0;
}

