@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
	text-align: center;
}

span.id.events,.id.build,.id.buy,.id.deliver{
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: .5em;
 }

span.id.build{
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: .5em;
 }

h2{
	font-size: 50px;
	font-weight: normal;
	color: blue;
}

#tag{	
	font-weight: bold;
	font-size: 30px;
	color: black;
	line-height: 2em;
}

#slogan{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: orange;
	line-height: 2em;
}

#contact{
	font-weight: bold;
}


#event{
	background-color: orange;
	font-size: 25px;
	font-family: Raleway;
}

#build{
	background-color: yellow;
	font-size: 25px;
	font-family: Raleway;
}

#buy{
	background-color: blue;
	font-size: 25px;
	font-family: Raleway;
}

#deliver{
	background-color: green;
	font-size: 25px;
	font-family: Raleway;
}




#spa{
	font-size: 25px;
	font-family: Raleway;
	border: 5px orange solid;
}

#date{
	font-size: 25px;
	font-family: Raleway;
	background-color: yellow;
	border: 5px yellow solid;
}

#sport{
	font-size: 25px;
	font-family: Raleway;
	background-color: blue;
	border: 5px blue solid;
}

#night{
	font-size: 25px;
	font-family: Raleway;
	background-color: green;
	border: 5px green solid;
}

footer{
	text-align: center;
	padding: .8em 0;
}