@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
	text-align: center;
}

h2{
	font-size: 50px;
	font-weight: normal;
	color: blue;
	font-style: serif;
}

#tag{	
	font-weight: bold;
	font-size: 30px;
	color: black;
	line-height: 2em;
}

#slogan1{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: orange;
	line-height: 2em;
}

#slogan{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: blue;
	line-height: 2em;
}

#how{
	font-size: 40px;
}

#event{
	background-color: orange;
	font-size: 25px;
	font-family: Raleway;
}

#build{
	background-color: yellow;
	font-size: 25px;
	font-family: Raleway;
}

#buy{
	background-color: blue;
	font-size: 25px;
	font-family: Raleway;
}

#deliver{
	background-color: green;
	font-size: 25px;
	font-family: Raleway;
}

#spa{
	display: inline-block;
  	width: 75px;
  	height: 75px;
  	padding: 75px;
  	font-size: 25px;
	font-family: Raleway;
	border: 5px orange solid;
	background-color: orange;
	alignment-baseline:  center;
}

#date{
	font-size: 25px;
	font-family: Raleway;
	background-color: yellow;
	border: 5px yellow solid;
}

#sport{
	font-size: 25px;
	font-family: Raleway;
	background-color: blue;
	border: 5px blue solid;
}

#night{
	font-size: 25px;
	font-family: Raleway;
	background-color: green;
	border: 5px green solid;
}

footer{
	text-align: center;
	padding: .8em 0;
}