body{
	text-align: center;
background-image: url(../images/spa.jpg);
background-size: cover;
}

#title{font-size: 90px;
	font-weight: 4px;
	color: #601a1f;}

h2{font-size: 50px;
color: #0540f2;}

#slogan{font-style: italic;
		font-weight: bold;}


